.services {
    background: #DAECFF url("../img/bg-2.jpg") no-repeat center;
}

.services__title {
    padding-top: 120px;
    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #111111;
    min-height: 105px;
    padding-bottom: 82px;
}

.services__list {
    padding-bottom: 120px;

}

.services__item {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    width: 1169px;
    min-height: 61px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
    border-radius: 15px;
    padding: 18px 41px 18px 44px;
    margin-bottom: 10px;
}

.item__question {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.services__IMG{
    padding-right: 28px;
}

.services__question {
    font-weight: 400;
    font-size: 18px;
    color: #111111;
}

.services__item-flex{
    display: flex;
    justify-content: left;
}

.services__Active {
    display: none;
}

.faq__item_show .services__Active {
    padding-right: 28px;
    display: block;
}

.faq__item_show .services__IMG {
    display: none;
}

.services__arrUp{
    display: none;
}

.faq__item_show .services__arrdown {
    display: none;
}

.faq__item_show .services__arrUp {
    display: block;
}

.faq__item_show button {
    font-weight: 700;
    font-size: 21px;
    color: #111111;
}